body {
  background-image:url(https://media.istockphoto.com/id/1364557560/vector/seamless-background-of-cucumber-vegetable-green.jpg?s=612x612&w=0&k=20&c=rtJlUljdY8UrVLI5g65bCUagcroZybDXv4RLpzmH5Ps=);
  padding: 50px;
}

.main {
  width: 100%;
  margin: 0;
  font-family: courier;
  background-color: white;
  padding: 10px;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

label {
  display: block;
  margin: 0.5rem 0;
}

h1, p {
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid green;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

button {
  display: block;
  width: 60%;
  margin: 2em auto;
  height: 2em;
  min-width: 300px;
}
